<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Penjar - Challenge</title>
    <link rel="icon" href="images/favicon.png" />

    <script>
     var params = new URL(document.location.toString()).searchParams;
     var redirectPath = params.get("redirect");
     setTimeout(() => {
         location.href = "/#" + redirectPath;
     }, 100);
    </script>
  </head>
  <body>
  </body>
</html>
