<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Penjar - Rasterizer</title>
    <link rel="icon" href="images/favicon.png?version={{& version_tag }}" />

    <script>
      globalThis.penjarVersion = "{{& version}}";
      globalThis.penjarVersionTag = "{{& version_tag}}";
      globalThis.penjarBuildDate = "{{& build_date}}";
      globalThis.penjarWorkerURI = "{{& manifest.worker_main}}";
    </script>

    {{# manifest}}
    <script src="{{& config}}"></script>
    <script src="{{& polyfills}}"></script>
    <script type="importmap">{{& importmap }}</script>
    {{/manifest}}
  </head>
  <body>
    {{# manifest}}
    <script type="module" src="{{& libs}}"></script>
    <script type="module">
      import { init } from "{{& rasterizer_main}}";
      init();
    </script>
    {{/manifest}}
  </body>
</html>
