---
title: 05· Libraries & Templates
desc: Contribute to Penjar's libraries & templates! Learn how to share your files and access resources. Try Penjar - It's free!
---

<h1 id="libraries">Libraries & templates</h1>

<img src="/img/contributing-libraries.png" alt="libraries and templates"  border="0">

<p>There are published Penjar files ready to use made by community members and Penjar core team members.</p>

<ul>
<li>Here you can find the complete list of <a href="https://penjar.app/libraries-templates" target="_blank">available Libraries & Templates</a>.</li>
<li>Are you willing to contribute sharing a Penjar file with the Penjar community? Here's a <a href="https://penjar.app/how-to-contribute" target="_blank">how you can do it</a>.</li>
<li>If you are in doubt about how to use one of these files, here you can <a href="https://penjar.app/libraries-templates#how-to-use" target="_blank">watch a video explanation</a>.</li>
</ul>
